@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.App{
  background-image: url(images/weather-bg.jpg);
  padding: 3em;
  background-size: cover;
  height: 100vh;
  
}

.container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.user-input{
  width: 80%;
  margin-left: auto;
  margin-top: 1em;
}
.user-input input{
  padding: 10px;
  width: 80%;
  border-radius: 6px;
  border: 1px solid lightgray;
}