@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.App{
  background-image: url(images/weather-bg.jpg);
  padding: 3em;
  background-size: cover;
  height: 100vh;
  
}

.container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
}
.user-input{
  margin-left: auto;
  margin-top: 1em;
}
.user-input input{
  padding: 10px;
  width: 80%;
  border-radius: 6px;
  border: 1px solid lightgray;
}
.view{
  width: 75%;
  margin: auto;
  text-align: center;
}
.view hr{
  width: 75%;
  margin: auto;
}
footer{
  margin-top: 1em;
}
.fixed{
  height: 40vh;
}
.welcome-box{
  padding: 3em;
  width: 50%;
  margin: auto;
}
.error-msg{
  margin-bottom: 1em;
}
@media only screen and (max-width: 600px) {
  .App{
    padding: 2em;    
  }
  .view{
    width: 100%;
  }
  .welcome-box {
    padding: 1em;
    width: auto;
    margin: auto;
}
.fixed {
  height: 50vh;
  padding: 1em;
}
}